<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omnom.android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:name="com.omnom.android.OmnomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Wood.Red" >
        <activity
            android:name="com.omnom.android.activity.SplashActivity"
            android:icon="@drawable/ic_app"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.omnom.android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.omnom.android.activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.omnom.android.activity.EnteringActivity"
            android:label="@string/title_activity_entering"
            android:theme="@style/Theme.Wood">
        </activity>
    </application>

</manifest>
