<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.omnom.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".OmnomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/Theme.Wood.Red">

        <meta-data
            android:name="PW_APPID"
            android:value="A5748-12C00" />

        <meta-data
            android:name="PW_PROJECT_ID"
            android:value="A32780815534" />

        <service
            android:name=".service.bluetooth.BackgroundBleService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.arellomobile.android.push.AlarmReceiver" />

        <activity android:name="com.arellomobile.android.push.PushWebview" />

        <activity android:name="com.arellomobile.android.push.MessageActivity" />

        <activity
            android:name="com.arellomobile.android.push.PushHandlerActivity"
            android:exported="true" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--        <service android:name="com.arellomobile.android.push.PushGCMIntentService" />-->

        <service android:name="com.omnom.android.service.bluetooth.PushWooshService" />

        <meta-data
            android:name="PW_PUSH_SERVICE"
            android:value="com.omnom.android.service.bluetooth.PushWooshService" />

        <activity
            android:name=".activity.EnteringActivity"
            android:exported="true"
            android:icon="@drawable/ic_app"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--            <intent-filter>
                            <action android:name="${applicationId}.MESSAGE" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="omnom" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="omnom.menu"
                    android:pathPrefix="/qr/"
                    android:scheme="http" />
                <data
                    android:host="omnom.menu"
                    android:pathPattern=".*"
                    android:scheme="http" />
                <data
                    android:host="www.omnom.menu"
                    android:pathPattern=".*"
                    android:scheme="http" />
                <data
                    android:host="www.omnom.menu"
                    android:pathPrefix="/qr/"
                    android:scheme="https" />
                <data
                    android:host="www.omnom.menu"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="omnom.menu"
                    android:pathPattern=".*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ConfirmPhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ConfirmPhone"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ChangePhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ChangePhoneSuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ValidateActivityBle"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".activity.ValidateActivityBle21"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".activity.ValidateActivityCamera"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".activity.ValidateActivityShortcut"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".activity.OrdersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Light"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />

        <activity android:name="io.card.payment.DataEntryActivity" />

        <activity
            android:name=".activity.CardsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.CardAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Light" />
        <activity
            android:name=".activity.CardConfirmActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activity.PaymentProcessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ThanksActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.order.BarOrderAcceptedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.order.LunchOrderAcceptedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.order.TakeawayOrderAcceptedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ThanksDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Red"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.OmnomQRCaptureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RestaurantsListActivity"
            android:label="@string/title_activity_restaurants_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="80e157ab6e31985057b3080949fbc7c82e4501a4" />


        <activity
            android:name=".activity.WishActivity"
            android:label="@string/title_activity_wish"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.WishSentActivity"
            android:label="@string/title_activity_wish_sent"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_wish_sent"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Light"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.UserProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Light"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name="com.android.camera.CropImage" />

        <activity
            android:name=".activity.ThreeDSWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Light"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.OrderResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wood.Light"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="omnom.mobi"
                    android:pathPattern=".*"
                    android:scheme="https" />

                <data
                    android:host="omnom.mobi"
                    android:pathPattern=".*"
                    android:scheme="http" />

            </intent-filter>
        </activity>
    </application>

</manifest>
